
<html>
  <head>
    <title> editer un potin </title>
  </head>
  <body>
    <h1> editer un potin ! </h1>
    <p> edite ton potin via le formulaire ci-dessous </p>
    <form action ='/gossips/id/edit/' method='POST'>
      Saisi ici ton nom : <input type='text' name='gossip_author'/><br/>
      Balance ton potin : <input type='text' name='gossip_content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>