
<html>
  <head>    
    <title> The Gossip Project </title>
  </head>
  <body>
    <h1> Mon super site de gossip, depuis le dossier views ! </h1>
    <a href="/gossips/new/"> crée un nouveau potin </a><br/>
    

    <% gossips.each_with_index do |gossip, index| %>
      <a href= "gossips/<%= index%>"> 
        <%= gossip.author %><br/>
        <%= gossip.content %>
       </a>
    <% end %>

  </body>
</html>    